// h1#projects-title {
//     font-size: 2.5vh;
//     font-family: 'Beth Ellen', cursive;
//     color:  rgba(255, 1, 110, 1);
//     text-align: center;
//     padding-bottom: 10px;
//     margin-bottom: 10px;
// }

h1.sub-head {
    color: #ff006e;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
}