#about {
 
}
@media (max-width:768px) {
    .about-head {
        padding-top: 40px;
    }

    #about-intro {
        font-size: 20px;
    }

    .main-section.row.is-inview {
        padding-top: 10px;
    }
}