h2#tech-used-pro-card {
    font-family: 'Beth Ellen', cursive;
    text-shadow: 1px 2px 5px #700548;
}

@media (max-width:768px) {
    .about-head {
        padding-top: 40px;
    }

    #about-intro {
        font-size: 20px;
    }

    .main-section.row.is-inview {
        padding-top: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    #about-point {
        border-bottom: #dde6f1 1px solid;
    }
}